<nav class="site-nav">
  <a class="brand" href="{{ site.baseurl }}/">AI Expert Toolkit</a>
  <a href="{{ site.baseurl }}/writesonic-review.html">Writesonic Review</a>
  <a href="{{ site.baseurl }}/comparisons.html">Comparisons</a>
  <a href="{{ site.baseurl }}/pricing.html">Pricing</a>
  <a href="{{ site.baseurl }}/blog.html">Blog</a>
  <a href="{{ site.baseurl }}/guides.html">Guides</a>
  <a href="{{ site.baseurl }}/about.html">About</a>
  <a href="{{ site.baseurl }}/contact.html">Contact</a>
</nav>
